
{% extends "fbapp/base.html" %}

{%  block content %}

<div id="main_cont" class="container">
    <br><br>
    <b><h1 style="color: #070707; font-family: Gill Sans; margin-left: 450px;">Listings</h1></b>
    <br>


        <div class="row">
            <div class="col-md-9" style="margin-left: 250px;">
                <input class="form-control" id="search_input" type="text" placeholder="Search....">
            </div>
        </div>
<br>
        <div class= "row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="fa fa-home"></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dashboard</b>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="fa fa-eye"></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Visitors</b>
                    </a>
                    <a href="#" class="list-group-item active">
                        <span class="fa fa-list-ul"></span><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Listings</b>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="fa fa-star"></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Reviews</b>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="fa fa-cog"></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Settings</b>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="fa fa-calendar"></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Appointments</b>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="fa fa-globe"></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website</b>
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class = "row divheight">
                <table id="tabl" class="table  table-hover table-responsive table-bordered " align="center">

                    <thead class="border rounded-top" bgcolor="#b2d3e6">
                        <tr>
                        <th></th>
                        <th >Source</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Rating</th>
                        <th>Verified</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>View</th>
                        </tr>
                    </thead>

                    <tbody>
                         <tr>
                        <td><i class="fa fa-google" style="font-size:20px" > </i></td>
                        <td>Google</td>
                        <td>ABC Dental</td>
                        <td>2101 California St</td>
                        <td>111.111.111</td>
                        <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
</td>
                        <td>Yes</td>
                        <td><a href="#"><i class="material-icons green-text text-darken-4">check</i></span></a></td>
                        <td><button class="btn btn-primary disabled">Update</button></td>
                        <td><button class="btn btn-primary disabled">Feeds</button></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-yahoo" style="font-size:20px" > </i></td>
                            <td>Yahoo!</td>
                            <td>ABC Dental</td>
                            <td>2101 California St</td>
                            <td>222.222.222</td>
                            <td><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span></td>
                            <td>No</td>
                            <td><a href="#"><i class="material-icons green-text text-darken-4">clear</i></a></td>
                            <td><button class="btn btn-primary disabled">Update</button></td>
                            <td><button class="btn btn-primary disabled">Feeds</button></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-yelp" style="font-size:20px" > </i></td>
                            <td>Yelp</td>
                            <td>ABC Dental</td>
                            <td>2101 California St</td>
                            <td>333.333.333</td>
                            <td><span class="fa fa-star checked"></span>
                </td>
                            <td>No</td>
                            <td><a href="#"><i class="material-icons green-text text-darken-4">clear</i></a></td>
                            <td><button class="btn btn-primary disabled">Update</button></td>
                            <td><button class="btn btn-primary disabled">Feeds</button></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-foursquare" style="font-size:20px" > </i></td>
                            <td>FourSquare</td>
                            <td>ABC Dental</td>
                            <td>2101 California St</td>
                            <td>444.444.444</td>
                            <td><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span></td>
                            <td>No</td>
                            <td><a href="#"><i class="material-icons green-text text-darken-4">check</i></a></td>
                            <td><button class="btn btn-primary disabled">Update</button></td>
                            <td><button class="btn btn-primary disabled">Feeds</button></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
</div>


<!-- --------------------------------  modal below -------------------- -->

 <!-- The Modal -->
 <div class=" modal" id="modal1">
    <div class="modal-dialog modal-lg " >
      <div class="modal-content  div_hover" >

        <!-- Modal Header -->
        <div class="modal-header">
             &nbsp;&nbsp;&nbsp;&nbsp;<h4 class="modal-title" id="name_modal"></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="modal_edit_button" type="button" class="btn btn-primary" data-target="_blank" align="start">Save Changes</button>
            <span style="display:inline-block; width: 15px;"></span>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div>
          <form class="col-sm-12" id="updateData" action="" method="post">
            <br>
            <div class="row ">
                <div class="input-field col-sm-12">
                    <label for="about"><b><h5>About</h5></b></label><br>
                    <textarea disabled id="about" type="text" class=" form-control validate" placeholder="Not added" rows="3" style="width:100%; max-width:100%;"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="input-field col-sm-12">
                    <label for="website"><b><h5>Website</h5><b></label>
                    <input disabled id="website" type="text" class=" form-control validate" placeholder="Website Not Added">
                </div>
            </div>
            <br>
             <div class="row">

                <div class="col-sm-6">
                  <div class="input-field inline">
                        <label for="emails" data-error="wrong" data-success="right"><b><h5>Email</h5></b></label>
                        <input disabled id="emails" type="email" class=" form-control validate" placeholder="Not added">
                  </div>
                </div>
                <div class="input-field col-sm-6">
                    <label for="phone"><b><h5>Phone Number</h5></b></label>
                    <input disabled id="phone" type="text" class=" form-control validate" placeholder="Phone Number Not Added">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <div class="input-field col-sm-6" style="margin-left: -50px; margin-top: 40px;">
                   <label for="fan_count"></label>
                    <a id="link" class="validate btn btn-primary modal_visit_page_btn" target="_blank" placeholder="Link">Visit this Page</a>
                </div>
                <div class="input-field col-sm-4" style="margin-left: 20px;">
                    <label for="fan_count"><b><h5>Total Likes On Your Page</h5></b></label>
                  <input disabled id="fan_count" type="text" class=" form-control validate" placeholder="Fan Count">
                </div>
            </div>
            <br>
            <br>
             <b><h5>Address</h5></b>
               <br>
            <div class="row">
                <div class="input-field col-sm-4" >
                    <label for="street"><b>Street</b></label><br>
                  <input disabled id="street" type="text" class=" form-control validate" placeholder="Not added">
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="input-field col-sm-4" style="margin-left: -20px;">
                    <label for="city"><b>City</b></label><br>
                  <input disabled id="city" type="text" class=" form-control validate" placeholder="Not added">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="input-field col-sm-4">
                        <label for="country"><b>Country</b></label><br>
                        <input disabled id="country" type="text" class=" form-control validate" placeholder="Not added">
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <div class="input-field col-sm-4" style="margin-left: -20px;">
                      <label for="zip"><b>Zip Code</b></label><br>
                      <input disabled id="zip" type="text" class=" form-control validate" placeholder="Not added">
                </div>
            </div>
              <br>
              <br>
              <b><h5>Satellite view</h5></b>
              <br>
            <br>
            <div id="map" style="width:760px;height:300px;background:yellow"></div>
            </div>
              <br>
<br><br><br>
            <input id="id" type="text" class="validate" hidden>
            <input id="pageToken" type="text" hidden>


         </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        </div>
        <input id="id" type="text" class="validate" hidden>
          <input id="pageToken" type="text" hidden>

      </div>
    </div>
  </div>


{% endblock %}