<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>



<style>
body {
    background-color:#f2f7ff ;
}
</style>


  <body>
    <div class="row">
        <b><h1 style="color: #070707; font-family: Gill Sans; margin-left: 450px; margin-top:350px">Thanks For Visiting</h1></b>
    </div>
    <div class="row">
        <a class="btn btn-primary" role="button" style="margin-left: 550px;" href="https://kartikeyraj.pythonanywhere.com">Login Again</a>
    </div>
  </body>
</html>